@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);

body {
    background-color: transparent;
}

body, button {
    font-family: 'Source Sans Pro', sans-serif;
}

.login {
    width: 274px;
    margin: 10% auto 0 auto;
    position: relative;
}


.heading {
    text-align: center;
    margin-top: 17%;
    position: absolute;
    top: 8px;
    left: 20px;
}


h2 {
    font-size: 2.5em;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 5px;
    text-shadow: 1px 1px 1px;
    text-align: center;
    position: relative;
    margin-top: -106%;
    left: 15px;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 3em;
    border: solid;
    border-color: #201B3F;
}

#txtUsuario {
    height: 22px;
    width: 140px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 1rem;
}

#txtClave {
    height: 22px;
    width: 140px;
    margin-bottom: 5px;
    margin-left: 10px;
    border-radius: 1rem;
}

#Button1 {
    border: none;
    outline: none;
    color: #fff;
    background-color: #201B3F;
    padding: 0.7rem 1.2rem;
    cursor: pointer;
    border-radius: 1rem;
    font-size: 18px;
}

    #Button1[type="submit"]:hover {
        background-color: #FFF;
        color: #201B3F;
        font-weight: bold;
        border: 0.1em dashed #201B3F;
    }

.log {
    text-align: center;
    position: relative;
    left: 14px;
    top: 170px;
}


.Texto {
    color: #FFF;
    font-size: medium;
}
